html,
body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Work Sans', sans-serif;
    webkit-tap-highlight-color: #111111;
    color: #111111;
    background: #ffffff;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;l
}

hr {  
    border-color: rgba(21,3,68,0.10);
    margin: 30px 0;
}

a {
    color: #150045;
    -webkit-transition: all .30s;
    -moz-transition: all .30s;
    transition: all .30s;
}
a:hover,
a:focus {
    color: #F54FBF;
    outline: none !important;
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Archivo Black', sans-serif;
    text-transform: none !important;
    font-weight: bold;
    color: #111111;
}
h1 {
    font-size: 100px;
}
h2 {
    font-size: 56px;
}
h3 {
    font-size: 48px;
}
h4 {
    font-size: 36px;
}
h6 {
    font-size: 20px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.5;
}


.mt0 { margin-top: 0px; }
.mb10 { margin-bottom: 10px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb80 { margin-bottom: 80px !important; }

section, aside {
    padding: 60px 0;
}


input,
textarea {
    border: 1px solid rgba(21,3,68,0.10);
    background: transparent;
    width: 100%;
    line-height: 28px;
    -webkit-transition: all ease .35s;
    -moz-transition: all ease .35s;
    transition: all ease .35s;
    font-size: 16px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 10px;
}
input:focus,
textarea:focus {
    outline: none;
    border: 1px solid #f953c6;
}
input::placeholder,
textarea::placeholder {
  color: #80829e;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #80829e;
}
input::-moz-placeholder,
textarea::-moz-placeholder { /* Firefox 19+ */
  color: #80829e;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder { /* IE 10+ */
  color: #80829e;
}
input:-moz-placeholder,
textarea:-moz-placeholder { /* Firefox 18- */
  color: #80829e;
}
label {
    color: #150045;
    text-transform: uppercase;
}

.no-padding {
    padding: 0;
}

.flt-left {
    float: left;
}
.flt-right {
    float: right;
}

.txt-left {
    text-align: left;
}
.txt-right {
    text-align: right;
}
.txt-center {
    text-align: center;
}


.btn {
    border: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    font-size: 20px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding: 12px 30px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: none;
}
.btn-primary {
    color: #fff;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb199+0,ff0844+100 */
    background: #ffb199; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffb199 0%, #ff0844 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffb199 0%,#ff0844 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffb199 0%,#ff0844 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb199', endColorstr='#ff0844',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-transition: all ease .35s;
    -moz-transition: all ease .35s;
    transition: all ease .35s;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    color: #fff;
    opacity: 0.9;
    background: #ffb199; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffb199 0%, #ff0844 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffb199 0%,#ff0844 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffb199 0%,#ff0844 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb199', endColorstr='#ff0844',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-transition: all ease .35s;
    -moz-transition: all ease .35s;
    transition: all ease .35s;
    -moz-transform: translate3d(0,-2px,0);
    -ms-transform: translate3d(0,-2px,0);
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0);
}

.btn-secondary {
    background: #150045;
    color: #fff;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
    background: #242B82;
    color: #fff;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}
::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}
img::selection {
    color: #fff;
    background: 0 0;
}
img::-moz-selection {
    color: #fff;
    background: 0 0;
}

.navbar-brand>img {
    width: 200px;
}
.navbar-default {
    border: none;
    font-family: 'Work Sans', sans-serif;
    background-color: #FFF;
    -webkit-transition: all ease .35s;
    -moz-transition: all ease .35s;
    transition: all ease .35s;
}
.navbar-default .navbar-header .navbar-brand {
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #FFF;
    background: url(../img/idea1-logo.png) no-repeat;
    background-size: 100%;
    width: 160px;
    height: 65px;
    margin-top: 3px;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #FFF;
}
.navbar-default .nav > li>a,
.navbar-default .nav>li>a:focus {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    color: #111;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #616161 !important;
    background-color: transparent;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #fff !important;
    background: #454545;
    background: -moz-linear-gradient(top, #454545 0%, #000000 100%);
    background: -webkit-linear-gradient(top, #454545 0%,#000000 100%);
    background: linear-gradient(to bottom, #454545 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#000000',GradientType=0 );
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.navbar-default .nav > li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    color: #fff !important;
    background: #454545;
    background: -moz-linear-gradient(top, #454545 0%, #000000 100%);
    background: -webkit-linear-gradient(top, #454545 0%,#000000 100%);
    background: linear-gradient(to bottom, #454545 0%,#000000 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#000000',GradientType=0 );
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    opacity: 0.8;
}
/*.navbar-header .btn-secondary {
    display: none;
}
.navbar-header .btn-secondary,
.navbar-nav .btn-secondary {
    color: white !important;
    text-transform: none !important;
    padding: 15px 30px !important;
    background: #111111 !important;
    font-size: 18px !important;
    margin: 8px 0 !important;
    font-weight: normal !important;
}
.navbar-header .btn-secondary .fas,
.navbar-nav .btn-secondary .fas {
    color: #fff;
    margin-right: 5px;
    -webkit-transition: all ease .35s;
    -moz-transition: all ease .35s;
    transition: all ease .35s;
}
.navbar-header .btn-secondary:hover,
.navbar-header .btn-secondary:hover .fas,
.navbar-nav .btn-secondary:hover,
.navbar-nav .btn-secondary:hover .fas {
    color: #F54FC0 !important;
}*/

@media(min-width:992px) {
    .navbar-default {
        border: none;
        background-color: transparent;
        padding-top: 20px;
    }
    .navbar-default .navbar-header .navbar-brand:hover,
    .navbar-default .navbar-header .navbar-brand:focus {
        color: #111111;
    }
    .navbar-default .nav > li>a,
    .navbar-default .nav>li>a:focus {
        color: #111111;
        padding: 10px 12px;
        margin-top: 14px;
    }
    .navbar-default .nav > li>a:hover,
    .navbar-default .nav>li>a:focus:hover {
        color: #111111;
    }
    .navbar-default.affix {
        border: none;
        background-color: #FFF;
        padding-top: 0;
        -webkit-box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.08);
        -moz-box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.08);
        box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.08);
    }
    .navbar-default.affix .navbar-header .navbar-brand {
        color: #555;
        background: url(../img/idea1-logo.png) no-repeat;
        background-size: 100%;
    }
    .navbar-default.affix .navbar-header .navbar-brand:hover,
    .navbar-default.affix .navbar-header .navbar-brand:focus {
        color: #111111;
    }
    .navbar-default.affix .nav > li>a,
    .navbar-default.affix .nav>li>a:focus {
        color: #111111;
    }
    .navbar-default.affix .nav > li>a:hover,
    .navbar-default.affix .nav>li>a:focus:hover {
        color: #454545;
    }
    .add-padding {
        padding: 0;
    }
}
@media (max-width: 991px) {
    .navbar-brand {
        padding: 10px 15px;
    }
    .navbar-brand>img {
        width: 145px;
    }
    .navbar-default .navbar-header .navbar-brand {
        background: url(../img/idea1-logo.png) no-repeat;
        background-size: 100%;
        width: 130px;
        margin-top: 10px;
        margin-left: 15px;
        margin-bottom: 0;
    }
    .navbar-default {
        -webkit-box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 2px 40px 0px rgba(0, 0, 0, 0.1);
    }

    .navbar-header {
      float: none;
    }
    .navbar-left,.navbar-right {
      float: none !important;
    }
    .navbar-toggle {
      display: block;
    }
    .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
      display: none!important;
    }
    .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
    }
    .navbar-nav>li {
      float: none;
    }
    .navbar-nav>li>a {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .collapse.in{
      display:block !important;
    }
    .navbar-default .nav > li>a, .navbar-default .nav>li>a:focus {
        border-bottom: none;
        margin-bottom: 0;
    }
    .navbar-default .nav > li.active>a, .navbar-default .nav>li.active>a:focus,
    .navbar-default .nav > li.active>a:hover, .navbar-default .nav>li.active>a:focus:hover {
        color: #fff !important;
        background: #454545;
        background: -moz-linear-gradient(top, #454545 0%, #000000 100%);
        background: -webkit-linear-gradient(top, #454545 0%,#000000 100%);
        background: linear-gradient(to bottom, #454545 0%,#000000 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#000000',GradientType=0 );
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        border-bottom: none;
    }
    .navbar-default .nav > li>a:hover, .navbar-default .nav>li>a:focus:hover {
        color: #ffffff !important;
        background-color: #111111;
        border-bottom: none;
    }
}
.navbar-toggle {
    position: relative;
    float: right;
    padding: 10px;
    margin-top: 20px;
    margin-right: 15px;
    margin-bottom: 0;
    border: none;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: none;
    background: none;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: none;
    border: none;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #111111;
}

@media (min-width: 768px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
        margin-left: 0;
    }
}


header {
    position: relative;
    width: 100%;
    min-height: 400px;
    text-align: left;
    color: #111111;
}
header .header-content {
    padding: 220px 15px 0;
}
header .header-content .header-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: normal;
    font-size: 100px;
    color: #111111;
}
header .header-content .header-content-inner hr {
    margin: 30px auto;
}
header .header-content .header-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: #111111;
}


@media (min-width: 1200px) {
    #our-journey .container,
    #brands .container,
    #services .container,
    #openings .container,
    #featured .container {
        width: 970px;
    }
}

#agency {
    height: 100vh;
}
#agency .header-content {
    padding-top: 180px;
}
/*#agency .main-video {
    position: absolute;
    z-index: -100;
    right: 30px;
    top: 140px;
}*/
#agency .main-video {
    padding: 0 5px;
}
#agency .main-video .card {
    /*height: 380px;*/
    height: 515px;
    background: #ddd;
    overflow: hidden;
}
#agency video {
  width: 100%;
}

#our-journey .card {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffb199+0,ff0844+100 */
    background: #ffb199; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffb199 0%, #ff0844 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffb199 0%,#ff0844 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffb199 0%,#ff0844 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb199', endColorstr='#ff0844',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    -webkit-box-shadow: 0px 20px 80px -10px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 20px 80px -10px rgba(0,0,0,0.3);
    box-shadow: 0px 20px 80px -10px rgba(0,0,0,0.3);
}
#our-journey .card h3 {
    margin-bottom: 30px;
}
#our-journey .card h3,
#our-journey .card p {
    color: #fff;
}
#our-journey .text {
    position: relative;
    z-index: 10;
}
#our-journey .bg {
    position: absolute;
    bottom: 30px;
    right: 15px;
}

#brands .clients {
    margin-bottom: 30px;
}
#brands .clients img {
    margin-bottom: 30px;
}

#services .card p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 10px;
}

#featured .card p {
    font-size: 16px;
    margin-bottom: 40px;
}

ol, ul {
    margin-bottom: 40px;
    font-size: 16px;
    line-height: 1.8;
}

#contact-details .card {
    height: 220px;
}
#contact-details .card p {
    font-size: 16px;
}
#contact-details .icon {
    position: absolute;
    bottom: 30px;
    right: 15px;
}

.divider {
    margin: 0 0 30px;
    background: #ffb199;
    background: -moz-linear-gradient(-45deg, #ffb199 0%, #ff0844 100%);
    background: -webkit-linear-gradient(-45deg, #ffb199 0%,#ff0844 100%);
    background: linear-gradient(135deg, #ffb199 0%,#ff0844 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb199', endColorstr='#ff0844',GradientType=1 );
    width: 100%;
    height: 20px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
}

/* ---- particles.js container ---- */ 
.particles-bg { 
    position: fixed;
    top: 0;
    z-index: -1000; 
    width: 100%; 
    height: 100vh; 
    background-color: #fff; 
    background-image: url(""); 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center; 
    background-attachment: fixed;
} 



@media (min-width: 768px) {
    header .header-content .header-content-inner p {
        max-width: 100%;
        font-size: 28px;
    }
}
@media (max-width: 767px) {
    header {
        text-align: center;
        background-position: 0px 340px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        -webkit-background-size: 100%;
        -moz-background-size: 100%;
        background-size: 100%;
        -o-background-size: 100%;
    }
}


/*------------------------ CARDS ---------------------*/
.card {
    background: #fff;
    -webkit-box-shadow: 0 20px 80px -20px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 20px 80px -20px rgba(0, 0, 0, 0.2);
    box-shadow: 0 20px 80px -20px rgba(0, 0, 0, 0.2);
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    -ms-transition: all .15s;
    -o-transition: all .15s;
    transition: all .15s;
    margin-bottom: 30px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
}

.card-body {
    padding: 40px;
}






.cta-mobile {
    display: none;
}
.cta-small .card {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f852c5+0,fff9fd+100 */
    background: #f852c5; /* Old browsers */
    background: -moz-linear-gradient(45deg, #f852c5 0%, #fff9fd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #f852c5 0%,#fff9fd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #f852c5 0%,#fff9fd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f852c5', endColorstr='#fff9fd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 300px;
}
.cta-mobile .card {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f852c5+0,fff9fd+100 */
    background: #f852c5; /* Old browsers */
    background: -moz-linear-gradient(45deg, #f852c5 0%, #fff9fd 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #f852c5 0%,#fff9fd 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #f852c5 0%,#fff9fd 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f852c5', endColorstr='#fff9fd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: 220px;
}
.cta-small h4,
.cta-mobile h4 {
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1.5;
}
.cta-small .fa-shopping-cart:before,
.cta-mobile .fa-shopping-cart:before {
    content: "\f07a";
}
.cta-small .img {
    position: absolute;
    bottom: 31px;
    width: 283px;
    height: 293px;
    right: 0;
}
.cta-mobile .img {
    position: absolute;
    bottom: 1px;
    width: 193px;
    height: 200px;
    right: 15px;
}
.cta-small .text {
    padding: 70px 30px;
    width: 70%;
    position: absolute;
}
.cta-mobile .text {
    padding: 36px 20px;
    width: 70%;
    position: absolute;
}
.cta-small .btn,
.cta-mobile .btn {
    font-weight: normal;
}
.cta-small .fas,
.cta-mobile .fas {
    margin-right: 5px;
}


.card-video {
    height: 230px;
    text-align: center;
}
.card-video a {
    line-height: 220px;
}
.card-video .fa-play {
    width: 72px;
    height: 72px;
    background: #f953c6;
    background: -moz-linear-gradient(left, #f953c6 0%, #b91d73 100%);
    background: -webkit-linear-gradient(left, #f953c6 0%,#b91d73 100%);
    background: linear-gradient(to right, #f953c6 0%,#b91d73 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f953c6', endColorstr='#b91d73',GradientType=1 );
    padding: 30px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    -webkit-box-shadow: 0 10px 60px -10px #4B0830;
    -moz-box-shadow: 0 10px 60px -10px #4B0830;
    box-shadow: 0 10px 60px -10px #4B0830;
    -webkit-transition: all .15s;
    font-size: 22px;
    line-height: 15px;
}



/*------------------------ TESTIMONIALS ---------------------*/
.videoContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
iframe {
  /* optional */
  width: 100%;
  height: 100%; 
}

/*.video-wrapper {
    position: relative;
}

.video-wrapper > video {
    width: 100%;
    vertical-align: middle;
}

.video-wrapper > video.has-media-controls-hidden::-webkit-media-controls {
    display: none;
}

.video-overlay-play-button {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10px calc(50% - 50px);
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    opacity: 0.95;
    cursor: pointer;
    background-image: linear-gradient(transparent, #f1edf3);
    transition: opacity 150ms;
}

.video-overlay-play-button:hover {
    opacity: 1;
}

.video-overlay-play-button.is-hidden {
    display: none;
}*/


/*------------------------ CONTACT US ---------------------*/
/*.form-control {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #fff;
    background-color: #2b2b2b;
    background-image: none;
    border-bottom: 1px solid #444;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0;
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    box-shadow: none;
}
.form-control:focus {
    border-color: #f953c6;
    box-shadow: none;
}
.form-group {
    margin-bottom: 30px;
    text-align: left;
}

#contact .text-danger ul {
    padding-left: 10px;
}
#contact .contact-form {
    margin-bottom: 40px;
}
#contact .contact-box hr {
    margin: 0 0 10px;
}
.contact-box p {
    font-size: 12px;
}
.contact-box h6 {
    text-transform: uppercase;
    color: #80839e;
}

.thank-you header {
    position: relative;
    width: 100%;
    height: 680px;
    text-align: left;
    color: #111111;
    background: #ffffff;
    background-image: url(../img/gluthea-jinri-3.png);
    background-position: bottom right;
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: 564px 586px;
    -moz-background-size: 564px 586px;
    background-size: 564px 586px;
    -o-background-size: 564px 586px;
}
.thank-you header .header-content {
    padding: 120px 15px;
}
.thank-you .header-content .logo {
    width: 200px;
    margin-bottom: 60px;
}*/

.cta {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#454545+0,000000+100 */
    background: #454545; /* Old browsers */
    background: -moz-linear-gradient(top, #454545 0%, #000000 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #454545 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #454545 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    padding: 90px 0 0;
    color: #fff;
}
.cta h2 {
    font-size: 36px;
    color: #fff;
    font-weight: normal;
    margin: 25px 0;
}
.cta .btns {
    text-align: right;
}
.cta .btn-primary {
    padding: 25px 54px;
    font-size: 28px;
    -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.5);
}
.cta .btn-primary:hover {
    -webkit-box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 2px 40px 0px rgba(0,0,0,0.5);
}
.cta hr {
    margin-top: 90px;
    border-color: #333333;
}

/*------------------------ FOOTER ---------------------*/
footer {
    background: #000;
    color: #fff;
    padding: 70px 0;
}
footer a {
    color: #fff;
}
footer a:hover {
    color: #fff;
}
.copyright {
    color: #fff;
    font-size: 12px;
    margin: 10px 0 0;
    letter-spacing: 0.05em;
}
.copyright a {
    font-weight: bold;
}
.social-media {
    text-align: right;
}
.social-media .fab {
    width: 60px;
    height: 36px;
    color: #fff;
    text-align: center;
    line-height: 36px;
    font-size: 20px;
    -webkit-transition: all .30s;
    -moz-transition: all .30s;
    transition: all .30s;
}
.social-media .fab:hover {
    opacity: 0.5;
}


/*------------------------ MEDIA QUERIES ---------------------*/
@media (max-width: 991px) {
    .block-txt,
    .contact-box .block-txt {
        height: auto;
    }

    header .header-content {
        padding-top: 150px;
        padding-bottom: 120px;
    }
}

@media (max-width: 767px) {
    h2 {
        font-size: 36px;
    }
    h3 {
        font-size: 28px;
    }
    h4 {
        font-size: 24px;
        margin-bottom: 30px;
    }

    #agency {
        height: 100vh;
    }
    #agency .header-content {
        padding-top: 160px;
    }
    #agency .main-video .card {
        height: 290px;
    }

    #our-journey {
        padding-bottom: 0;
    }
    #our-journey .bg {
        bottom: 0;
    }
    #our-journey .bg img {
        width: 220px;
    }

    #brands .clients img {
        margin-bottom: 20px;
    }

    .cta h2 {
        font-size: 26px;
        text-align: center;
    }
    .cta .btns {
        text-align: center;
    }
    .cta .btn-primary {
        padding: 15px 54px;
        font-size: 20px;
    }

    footer {
        text-align: center;
    }
    footer .copyright {
        margin-bottom: 30px;
    }
    footer .social-media {
        text-align: center;
    }

    #contact-details .card {
        height: 180px;
    }
    #contact-details .icon {
        bottom: 0;
    }

    .navbar-header .btn-secondary {
        display: block;
    }
    /*.dropdown {
        position: absolute;
        right: 70px;
    }*/
    p {
        font-size: 16px;
    }

    header.particletext {
        height: 100vh;
    }
    .arrow {
        height: 80px;
    }
    header .header-content {
        padding: 120px 15px 80px;
    }
    header .header-content .header-content-inner h1 {
        font-size: 64px !important;
        line-height: 1;
        margin-bottom: 10px;
    }
    header .header-content .header-content-inner p {
        margin-top: 30px;
        font-size: 20px;
    }

    .card-body {
        padding: 20px;
    }

    .cta-mobile {
        display: block;
    }

    .cta-small {
        display: none;
    }

    ul.navbar-nav li {
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
    }

    .video-wrapper {
        margin-top: 60px;
    }
}
@media (max-width: 480px) {
    #agency {
        height: 530px;
    }
    #agency .main-video {
        padding: 0 15px;
    }
    #agency .main-video .card {
        height: 200px;
    }
    #our-journey,
    #featured,
    #openings,
    #contact-details {
        padding-top: 0;
    }
    #contact-details .card {
        margin-bottom: 10px;
    }
    header {
        min-height: 290px;
    }
    header .header-content {
        padding: 160px 0px 0;
    }
    .arrow {
        bottom: -120px;
    }
    header .header-content .header-content-inner h1 {
        font-size: 46px !important;
        line-height: 1;
        margin-bottom: 10px;
    }
    header .header-content .header-content-inner p {
        margin: 0 0 30px;
        font-size: 18px;
    }
    

}



